@media (max-width: 768px) {
    .--app .--header .mob-toggle-btn {
        display: flex;
    }

    .mob-hide {
        display: none !important;
    }
    .--app .--header {
        padding: 0 20px !important;
        .--logo img { width: 140px; } // Mobile pe logo chota
    }

    .--app .--header .mob-toggle-btn {
        display: flex !important;
    }

    .--app .--pg-landing {
        .--hero {
            padding-inline: 0;

            .--lines {
                h1 {
                    &.t1 {
                        font-size: 16px;
                    }

                    &.t2 {
                        font-size: 24px;
                        line-height: 1.5;
                    }
                }

                p {
                    font-size: 12px;
                    max-width: 100%;
                    margin-top: 15px;
                }
            }
        }

        .--badges {
            flex-direction: column !important;
            text-align: center;
            padding: 40px 0px;
            gap: 30px;

            h1 {
                font-size: 24px;

                br {
                    display: none;
                }

            }

            div.flex {
                justify-content: center !important;
                flex-wrap: wrap;
                gap: 25px;

                img {
                    height: 30px;
                    max-width: 40%;
                }
            }
        }

        .--innovation {
            padding: 40px 0px;

            .heading {
                font-size: 24px;

                span {
                    font-size: 24px;
                }
            }

            .heading2 {
                font-size: 16px;
                margin-bottom: 40px;
            }

            .sub-section {
                flex-direction: column !important;
                padding: 40px 25px;
                border-radius: 30px;
                gap: 40px;

                .sx {
                    text-align: center;
                    align-items: center;

                    .ico {
                        margin: 0 auto 40px auto;
                    }

                    .t1 {
                        font-size: 24px !important;
                    }

                    p {
                        font-size: 16px !important;
                    }

                }

                .sy {
                    width: 100%;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        .services {
            padding: 60px 0px;

            h1.tc {
                font-size: 24px;
            }

            .grid.blocks {
                .block {
                    h1 {
                        font-size: 18px;
                    }

                    img {
                        bottom: -20px;
                        right: -20px;
                    }
                }

                padding: 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                gap: 5px 5px;
                grid-template-areas: "a1 a2"
                "a3 a4"
                "a5 a6"
                "a7 a8"
                "a9 a9";
            }
        }

        .sec-e {
            flex-direction: column;
            margin: 0;
            padding: 6px;

            .poster {
                min-height: 375px;

                h1 {
                    font-size: 36px !important;
                    // text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
                    // line-height: 0.9;
                }
            }

            .features {
                gap: 6px;
            }
        }
    }

    .--comments {
        padding: 60px 0px;

        .heading {
            font-size: 24px;

            span {
                font-size: 24px;
            }

            // br { display: none; }
        }

        .comments-grid {
            display: flex !important;
            flex-direction: column;
            margin: 0 -20px;
        }

        .comment-card {
            flex: 0 0 85%;
            scroll-snap-align: center;
            padding: 30px 25px;

            .text {
                font-size: 16px !important;
            }
        }

        .dots {
            display: flex;
        }
    }

    .--banner {
        flex-direction: column !important;
        align-items: flex-start !important;
        text-align: left;
        padding: 40px 30px;
        margin: 20px;
        border-radius: 30px;
        gap: 30px;

        .--lbl {
            font-size: 32px !important;

            br {
                display: none;
            }
        }

        .s2 {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .--txt {
                max-width: 70%;
                font-size: 14px;
            }

            .btn {
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px;
                border-radius: 15px;

                svg {
                    width: 40px;
                }
            }
        }
    }

    .workflow-sec {
        padding: 60px 20px;

        h1 {
            font-size: 24px;
            line-height: 1.1;

            span {
                font-size: 24px;
            }
        }

        .workflow-grid {
            display: flex !important;
            flex-direction: column;
        }

        .workflow-card {
            border-radius: 24px;
            text-align: left;

            .icon-wrapper {
                width: 45px;
                height: 45px;
            }

            .meta {
                h2 {
                    font-size: 20px !important;
                }

                p {
                    font-size: 16px !important;
                }

            }
        }
    }

    .contact-wrapper {
        .grid-layout {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }

    .--work {
        padding: 60px 20px;

        .--whero {

            // margin-bottom: 10px;
            .--lbl {
                font-size: 24px !important;
            }

            .--txt {
                font-size: 16px !important;
            }

            .--filters {
                width: 100%;
                gap: 5;
            }
        }

        .--showcase-grid {
            grid-template-columns: 1fr;
            gap: 30px;

            .--showcase-card {
                .image-wrapper {
                    border-radius: 16px;
                    aspect-ratio: 4/3;
                }

                .--meta .--lbl {
                    font-size: 20px !important;
                }
            }
        }
    }

    .--showcase-dtl {

        .--sdtl-hero {
            flex-direction: column-reverse !important;
            padding: 0 !important;
            overflow: hidden;
            gap: 30px;

            .--meta {
                padding: 20px;
                width: 100% !important;
                max-width: 100% !important;
            }

            .--g {
                width: 100% !important;
                max-width: 100% !important;
                aspect-ratio: 1 / 1;
                margin: 0;

                img {
                    width: 100% !important;
                    height: 100% !important;
                    max-height: unset !important;
                    object-fit: cover;
                    border-radius: 0;
                }
            }

        }

        .--gallery {
            grid-template-columns: 1fr;
        }
    }

    .--consultancy-pg {
        padding: 60px 20px;

        .--lines {
            .--lbl {
                font-size: 32px !important;
            }

            .--txt {
                font-size: 16px !important;
            }
        }

        .--plans {
            display: flex !important;
            flex-direction: column;
            gap: 40px;
        }
    }

    .--our-team {
        padding: 60px 20px;
        gap: 40px;

        .--lines {
            h1.s50 {
                font-size: 24px !important;
            }

            h1.s22 {
                font-size: 16px !important;
            }
        }

        .members {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }

        .--card {
            border-radius: 15px;

            .--meta {
                height: fit-content !important;
                padding: 15px 10px;

                h1 {
                    font-size: 16px;
                }

                .--txt {
                    font-size: 12px;
                }
            }
        }
    }

    .--footer {
        .--ftr-grid {
            display: flex !important;
            flex-direction: column !important;
            align-items: center;
            text-align: center;

            .--ftr-nav-group {
                display: flex !important;
                justify-content: space-between;
                width: 100%;
                gap: 10px;
            }
        }

        .n1 {
            width: 100%;
            align-items: center;
        }

        .--ftr-c {
            width: 100%;
            align-items: center;

        }

        .--lh {
            margin-top: 40px;
        }
    }
}